.dashboard-container{
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #11d0da, #0ad0de, #07d0e2, #09cfe6, #0fcfea);
  color: #fff;
}
.dashboard-container p{
  font-size: 22px;
  padding-left: 20%;
  padding-top: 20px;
  font-weight: 600;
}
.dashboard-container:nth-child(1){
  padding-top: 15%;
}